* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #323232;
    font-family: "Comic Sans", arial, sans-serif;
}

header {
    margin: 0;
    padding: 0px;
    padding-bottom: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #0688a5;
    color: #fff;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header pre {
    margin: 0;
    text-align: center;
}

main {
    margin: 0 25px;
    margin-right: 0px;
    padding: 10px 0;
    max-width: 1440px;
}

.grid-container {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 25px;
}

.box {
    margin: 10px 0;
    padding: 10px;
    max-width: 900px;
    height: 700px;
    background-color: #eeeded;
    box-shadow: 10px 10px 8px #323232;
}

.fps-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.drop-menu {
    text-align: right;
    margin: 0px 25px;
}

.drop-menu select {
    border-radius: 5px;
}

.drop-menu p {
    font-size: 10px;
}

.camera-box video {
    width: 100%;
    transform: scaleX(-1);
}

.upload {
    background-color: #d1d1d1;
    width: 100%;
    height: 80%;
    padding-top: 20%;
    text-align: center;
    border-radius: 25px;
    border: 3px dashed #444444;
}
.upload.drag-over {
    background-color: #79b7eda8;
}

.ascii-box textarea {
    background-color: #353535;
    color: #ffffff;
    width: 100%;
    height: calc(100% - 100px);
    box-sizing: border-box;
    text-align: center;
    border-color: #ffffff00;
    resize: none;
}

.button-container {
    display: grid;
    grid-template-columns: 20% 20% 30% 15%;
    gap: 50px;
}
.upload-buttons {
    grid-template-columns: 40% 30% 15%;
}

.button {
    background-color: #e2e1e1;
    color: #000;
    margin: 20px auto;
    padding: 10px 100px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #565656;
    font-size: 1.1rem;
    border-color: #000000;
}

.start-button {
    background-color: #18c601;
    color: #fff;
}
.start-button:hover {
    background-color: #15b600;
}

.stop-button {
    background-color: #8b0101;
    color: #fff;
}
.stop-button:hover {
    background-color: #750000;
}

.begin-processing-button {
    padding: 10px 100px;
}
.begin-processing-button:hover {
    background-color: #cfcfcf;
}

.reset-button:hover {
    background-color: #cfcfcf;
}

.replay-button:hover {
    background-color: #cfcfcf;
}

footer {
    padding: 40px;
    padding-bottom: 20px;
    background-color: #d4d3d3;
    text-align: center;
}
footer p {
    font-size: 8px;
}

p {
    font-size: 16px;
}   

textarea {
    font-size: 14px;
}

.sidebar-open-button {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 8888;
    background-color: #026b83;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-bottom-right-radius: 12px;
    box-shadow: 3px 3px 8px #000;
}
.sidebar-open-button:hover {
    background-color: #005a6e;
}

.sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    transform: translateX(-110%);
    transition: transform 0.5s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #000;
    box-shadow: 3px 0px 8px #000;
}
.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    background-color: #026b83;
    color: #fff;
    margin: 0;
    border-top-right-radius: 20px;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #000;
}

.video-type-button {
    background-color: #eeeded;
    color: #1d1d1d;
    width: 90%;
    padding: 5px;
    text-align: left;
    margin: 10px 5px;
    font-size: 1.5rem;
    border: 0px solid #eeeded;
    box-shadow: 1px 1px 8px #000;
}
.video-type-button:hover {
    background-color: #d1d0d0;
}

.sidebar-close-button {
    background-color: #026b83;
    color: #fff;
    margin: 0;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 3px 3px 8px #000;
    width: 90%;
    position: fixed;
    bottom: 0;
}
.sidebar-close-button:hover {
    background-color: #005a6e;
}

.hidden {
    display: none;
}
